<h3> Monitoring Resources Report</h3>
  <h5>Today's Date:  <%= Date.today.strftime("%B %e, %Y") %> </h5>

  <div class="container">
      <div class="row">
          <div class='col-sm-6'>
              <div class="form-group">
                  <div class='input-group date' id='datetimepicker1'>
                      <input type='text' class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
          <script type="text/javascript">
              $(function () {
                  $('#datetimepicker1').datetimepicker();
              });
          </script>
      </div>
  </div>

<%months = ["January", "February", "March", "April", "May","June", "July", "August", "September", "October", "November", "December"] %>
<% puts months[0] %>

<% @monitoring_resources.each do |resource| %>
  <% end_date = Date.parse(resource['end_date']).strftime("%B %e, %Y") %>
  <% unit_cost = resource['unit_cost'].to_i.round %>
    <% %>
    <% %>
    <% %>
  <table class="parent_resources">
  		<thead>
  			<tr>
  				<th>Name</th>
					<th>End Date </th>
          <th>Cost Amount </th>
          <br></br>
          <th> <%= months[0] %> </th>
          <th> <%= months[1] %> </th>
          <th> <%= months[2] %> </th>
          <th> <%= months[3] %> </th>
          <th> <%= months[4] %> </th>
          <th> <%= months[5] %> </th>
          <th> <%= months[6] %> </th>
          <th> <%= months[7] %> </th>
          <th> <%= months[8] %> </th>
          <th> <%= months[9] %> </th>
          <th> <%= months[10] %> </th>
          <th> <%= months[11] %> </th>
  			</tr>
  		</thead>
  		<tbody>
  			<tr>
          <td><%= resource['description'] %></td>
					<td><%= end_date %></td>
          <td><%= "$" + unit_cost.to_s %></td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
          <td> </td>
  		  <% end %>
  		</tbody>
  	</table><br>
