<h3> Active Projects found for Company (ID <%= @company_id %>):</h3>
<table class="table-1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= project['id'] %></td>
        <td><%= project['name'] %></td>
			</tr>
		<% end %>
		</tbody>
	</table><br>

<h3> Monitoring Resources found for Company (ID <%= @company_id %>):</h3>
  <table class="item-list sortable">
  		<thead>
  			<tr>
  				<th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Unit of Measure</th>
          <th>Unit Cost</th>
          <th>Units Remaining</th>
          <th>Forecast To Complete</th>
          <th>Planned Total Cost</th>
          <th>Total Units</th>
          <th>Utilization</th>
          <th>Budget Line Item ID</th>
  			</tr>
  		</thead>
  		<tbody>
  		<% @monitoring_resources.each do |resource| %>
  			<tr>
          <td><%= resource['description'] %></td>
          <td><%= resource['start_date'] %></td>
          <td><%= resource['end_date'] %></td>
          <td><%= resource['unit_of_measure'] %></td>
          <td><%= resource['unit_cost'] %></td>
          <td><%= resource['units_remaining'] %></td>
          <td><%= resource['forecast_to_complete'] %></td>
          <td><%= resource['planned_total_cost'] %></td>
          <td><%= resource['total_units'] %></td>
          <td><%= resource['utilization'] %></td>
          <td><%= resource['budget_line_item_id'] %></td>
  			</tr>
  		<% end %>
  		</tbody>
  	</table><br>
