<script type='text/javascript'>
$(document).ready(function(){
   $('#check_all').on("click", function() {
     var checkboxes = $("checked_resources");
     if(checkboxes.prop("checked")){
        checkboxes.prop("checked",false);
     } else {
        checkboxes.prop("checked",true);
     }
   });
});
</script>

<h3> Select Resources to View (ID <%= @company_id %>):</h3>
<button type="button" id="check_all" class="btw">
		<%="Check all/Uncheck all"%>
	</button><br><br>
  <table class="monitored-checkbox">
  		<thead>
  			<tr>
					<th>Project </th>
  				<th>Name</th>
					<th>Select to view Monitored Resources Forecast </th>
  			</tr>
  		</thead>
  		<tbody>
  		<% @monitoring_resources.each do |resource| %>
  			<tr>
					<td><%=%> </td>
          <td><%= resource['description'] %></td>
					<td><%= check_box_tag 'checked_resources[]', resource['description'], false, class: 'chkbox' %></td>
				</tr>
  		  <% end %>
  		</tbody>
  	</table><br>

		<form action="/projects/forecast" method = "get">
			<input type="text" name="company_id">
			<input type="submit" value="Submit">
		</form>
