<!DOCTYPE html>
<html>
  <head>
    <title>Monitoring Resources</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Home Page", welcome_index_path %></li>
        <li><%= link_to "Callback", welcome_callback_path %></li>
        <li><%= link_to "Monitoring Resources", welcome_resources_path %></li>
      </ul>

      <%= yield %>
    </div>


  </div>
  </body>
</html>
